body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 20px;
}

a {
  color: #00B7FF;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #666666;
  text-align: left;
  width: 25%;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.input{
  margin: 5vh 0;
}